<a href="https://colab.research.google.com/github/valuntiny/SQL/blob/master/Data_X_SQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
!pip install -q pymysql

     |████████████████████████████████| 51kB 1.9MB/s

**Guojing Wu** | *2019-08-25*

# SQL
<a href="https://github.com/larryzzhang/data-x/blob/master/09a-sql/intro-to-dbs-and-sql_v2-afo.pdf"> Data-X </a>

## Basic operation and queries

### create table

In [0]:
CREATE TABLE Customers (
    CustomerID INT NOT NULL,
    CustomerName VARCHAR(100) NOT NULL,
    Country VARCHAR(50) NOT NULL,
    PRIMARY KEY (CustomerID)
)

### insert

In [0]:
INSERT INTO Customers (CustomerID, CustomerName, Country)
VALUES (1, "Gerogen", "China");

### insert + union

In [0]:
INSERT INTO Customers (CustomerID, CustomerName, Country)
VALUES (2, "ABC", "U.S.A.") UNION
VALUES (3, "Aby", "Canada") UNION
VALUES (4, "Tom", "U.K.");

### select + where + like

In [0]:
SELECT * 
FROM Customers
WHERE xxx LIKE %X% (OR/AND xxx > 10)