<a href="https://colab.research.google.com/github/valuntiny/SQL/blob/master/kaggle_SQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
!pip install -q pymysql

     |████████████████████████████████| 51kB 1.9MB/s

**Guojing Wu** | *2019-08-25*

# SQL
<a href="https://github.com/larryzzhang/data-x/blob/master/09a-sql/intro-to-dbs-and-sql_v2-afo.pdf"> Data-X </a>

## Basic operation and queries

### create table

In [0]:
CREATE TABLE Customers (
    CustomerID INT NOT NULL,
    CustomerName VARCHAR(100) NOT NULL,
    Country VARCHAR(50) NOT NULL,
    PRIMARY KEY (CustomerID)
)

### insert

In [0]:
INSERT INTO Customers (CustomerID, CustomerName, Country)
VALUES (1, "Gerogen", "China");

### insert + union

In [0]:
INSERT INTO Customers (CustomerID, CustomerName, Country)
VALUES (2, "ABC", "U.S.A.") UNION
VALUES (3, "Aby", "Canada") UNION
VALUES (4, "Tom", "U.K.");

### select + where + like

In [0]:
SELECT * 
FROM Customers
WHERE xxx LIKE %X% (OR/AND xxx > 10)

### update

In [0]:
UPDATE table
SET columnName = 'xxx'
WHERE CustomerID = 2

### delete

In [0]:
DELETE * FROM Customers

In [0]:
DROP Customers

### foreign key: create a second table that relate to the first one

In [0]:
CREATE TABLE Customers (
    CustomerID INT NOT NULL,
    CustomerName VARCHAR(100) NOT NULL,
    Country VARCHAR(50) NOT NULL,
    PRIMARY KEY (CustomerID)
);

In [0]:
CREATE TABLE Orders (
    OrderID INT NOT NULL,
    CustomerID INT NOT NULL,
    OrderDate DATE NOT NULL,
    PRIMARY KEY (OrderID),
    FOREIGN KEY (CustomerID) REFERENCES Customers(CustomerID)
);

INSERT INTO Orders (OrderID, CustomerID, OrderDate)
VALUES (1, 1, '2016-09-01') UNION
VALUES (2, 4, '2019-05-21') UNION
VALUES (3, 1, '2013-11-18');

### join: horizontally align

* INNER JOIN

* LEFT JOIN

* RIGHT JOIN

* OUTER JOIN

In [0]:
SELECT Customers.CustomerID, Orders.OrderID
FROM Customers <join> Orders
ON Customers.CustomerID = Orders.CustomerID;

### union: vertically align

* UNION ALL

* UNION DISTINCT

In [0]:
SELECT Date FROM Customers
UNION ALL
SELECT Date FROM Orders

### order by

In [0]:
SELECT CustomerName
FROM Customers
ORDER BY CustomerName;

In [0]:
# alphabetical order, and can be aaplied to WHERE sentence
SELECT Country
FROM Customers
WHERE Country > 'D'
ORDER BY Country;

In [0]:
SELECT OrderID
FROM Orders
ORDER BY OrderDate DESC;

### WITH xxx AS ()

In [0]:
WITH USCustomer AS (
    SELECT CustomerID, CustomerName
    FROM Customers
    WHERE Country = 'U.S.A'
)
XXX

###